.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background: #fff;
  opacity: 0.6;
  color: #000000;
  font-size: 14px;
  transition: background-color 0.2s ease-in;

  &::placeholder {
    color: $placeholder;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
.form__privacy {
  font-size: 13px;
  color: #e7e7e7;
  text-align: center;
}
.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: $white;
  font-weight: 700;
  text-align: center;
  background-color: $accent;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: saturate($accent, 10%);
  }
}
