// Fonts

$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// color

$dark: #242b33;
$accent: #d4c17f;
$white: #ffffff;
$footer-bg: #2d343c;
$placeholder: #bebebe;

// media
$tablet: 999px;
